{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <base href="https://www.megapalmeira.com.br/">
    <head>
        <meta charset="utf_8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            Acompanhamento MEGAPALMEIRA - GRUPO 000036 
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/custom.css">

        <link rel="stylesheet" href="css/flaty.css"> <link rel="stylesheet" href="css/flaty-responsive.css">

        <link rel="shortcut icon" href="img/favicon.png">
        
        <style>
        .circulo {
            width: 20px;
            height: 20px;
            border-radius: 250px;
            font-size: 12px;
            color: #000;
            line-height: 20px;
            text-align: center;
            background: white;
            float: left;
            margin-right: 5px;
            border: 1px solid #000;
        }

        .circuloCerto {
            width: 20px;
            height: 20px;
            border-radius: 250px;
            font-size: 12px;
            color: #000;
            line-height: 20px;
            text-align: center;
            background: #0F0;
            float: left;
            margin-right: 5px;
            border: 1px solid #000;
        }

        .circuloSorteio {
            width: 25px;
            height: 25px;
            border-radius: 250px;
            font-size: 14px;
            color: #000;
            line-height: 30px;
            text-align: center;
            background: #f4aa42;
            float: left;
            margin-right: 5px;
            border: 1px solid #000;
        }

        .search-found {
            text-decoration: underline;
        }

        .dataTables_filter input[type=text] {

        }

        dataTables_filter {
            width: 90%;
        }

    </style>

        <meta property="og:description" content="MEGAPALMEIRA - GRUPO 000036">
        <meta property="og:title" content="Bolão entre amigos - Grupo:  000036">
        <meta property="og:url" content="https://www.megapalmeira.com.br/">
        <meta property="og:image" content="https://www.megapalmeira.com.br/img/logo199.png">
        <meta property="og:image:secure_url" content="https://www.megapalmeira.com.br/img/logo199.png">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Mega Palmeira">
    </head>

    <body class="cores">

        <div id="navbar" class="navbar">
            <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="img/logoPequeno.png">
            </a>

            <div align="center">
                <h2 style="color: white"></h2>
            </div>
        </div>

        <div class="container" id="main-container">

                <div class="page-title">
                    <div>

                        <h3>
                            <i class="fa fa-tachometer"></i>
                            {{concurso.dados.descricao}}
                            <a class="show-tooltip" title="Entrar no Grupo Whatssapp" href="https://chat.whatsapp.com/41jsxh06XowKTMBF9ii4rq">
                                <button class="btn btn-success2">
                                    <i class="fa fa-whatsapp"></i>
                                    Entrar no Grupo do  Whatsapp
                                </button>
                            </a>

                            <a class="show-tooltip" title="Instagram" href="http://www.instagram.com/megapalmeira">
                                <button class="btn btn-warning2">
                                    <i class="fa fa-instagram" target='_blank'></i>
                                    Instagram
                                </button>
                            </a>

                            <a class="show-tooltip" title="REGRAS" href="javascript:abreDetalhes('000036')">
                                <button class="btn btn-warning2">
                                    <i class="fa fa-gavel"></i>
                                    Como Jogar
                                </button>
                            </a>
                        </h3>
                    </div>
                </div>
                <!-- END Page Title -->

                <!-- BEGIN Main Content -->

                <div class="alert alert-success">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>

                    <h2 style="color: red">Início: {{concurso.dados.dataAbertura}}</h2>
                    <h3>
                        ATUALIZAÇÃO AUTOMÁTICA 10 MINUTOS APÓS O RESULTADO OFICIAL DA LOTERIA
                    </h3>

                    - FAÇA UM JOGO DE
                    <b>
                        {{concurso.dados.dezenasPermitidasPorCartela}} NÚMEROS.  QUEM ACERTAR PRIMEIRO OS {{concurso.dados.dezenasPermitidasPorCartela}} NÚMEROS, INDEPENDENTEMENTE DE QUANTOS SORTEIOS ACONTEÇAM, SERÁ O GANHADOR.
                    </b>
                    <BR>
                    - HAVENDO MAIS DE UM GANHADOR SERÁ FEITO A DIVISÃO IGUALMENTE
                    <BR>

                    <a class="show-tooltip" title="Nova Aposta" href="apostasIncluir.php?idGrupo=000036&chave=fe9fd445d62e050587cbd15e1c21f2f2&idVendedor=">
                        <br>
                        <button class="btn btn-success2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-plus"></i>
                            Faça Seu Jogo Agora!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </a>
                    <br>
                    <h2 style="color: red">
                        Valor da cota: R$ {{ concurso.cota }} ou 3 cotas por R$ 50,00
                    </h2>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="box" style="display: none">
                            <div class="box-title">
                                <h3>
                                    Previsão de Premiação
                                </h3>
                            </div>
                            <div class="box-content">

                                <b>
                                    <span style="font-size: 20px;">
                                        Prêmio 10 Pts Previsto:
                                    </span>
                                </b>
                                R$
                                <span style="font-size: 36px;weight: bold;color: red">
                                    1.350,00
                                </span>
                                <br>
                                <b>
                                    Prêmio  9 Pts Previsto:
                                </b>
                                R$

                                <span style="font-size: 24px;weight: bold;color: orange">
                                    337,50
                                </span>
                                <br>

                                <br>
                                <b>
                                    Prêmio 0 Ponto Previsto:
                                </b>
                                R$

                                <span style="font-size: 16px;weight: bold;color: orange">
                                    112,50 + R$ 1.558,00(acumulado)
                                </span>
                                <br>
                                <b>
                                    Participantes Previstos:
                                </b>
                                <span style="font-size: 16px;weight: bold;color: green">
                                    99        apostas
                                </span>
                                <br>

                            </div>
                        </div>

                        <div class="box">
                            <div class="box-title">
                                <h3>
                                    Premiação Confirmada
                                </h3>
                            </div>
                            <div class="box-content">

                                <b>
                                    <span style="font-size: 20px">
                                        Prêmio 10 pts :
                                    </span>
                                </b>
                                R$
                                <span style="font-size: 36px;weight: bold;color: red">
                                    {{ concurso.dados.valorArrecadado }}
                                </span>
                                <br>
                                <b>
                                    Prêmio  9 pts  :
                                </b>
                                R$

                                <span style="font-size: 24px;weight: bold;color: orange">
                                    133,50
                                </span>
                                <br>

                                <br>
                                <b>
                                    Prêmio 0 ponto:
                                </b>
                                R$

                                <span style="font-size: 18px;weight: bold;color: orange">
                                    44,50 + R$ 1.558,00(acumulado)
                                </span>
                                <br>
                                <span style="weight: bold;color: red">
                                    OBS: Caso não haja jogos com 0 ponto, o prêmio irá acumular para o próximo grupo.
                                </span>
                                <br>
                                <b>
                                    Participantes :
                                </b>
                                <span style="font-size: 16px;weight: bold;color: green">
                                    37        apostas pagas
                                </span>
                                <br>

                                <b>
                                    Jogos Promocionais
                                </b>
                                <span style="font-size: 16px;weight: bold;color: green">
                                    15        jogo(s) Promocionais
                                </span>
                                <br>

                                <b>
                                    Situacão:
                                </b>
                                <span style="font-size: 16px;weight: bold;color: green">
                                    Recebendo Jogos até: 21/08/2021 as 17h
                                </span>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box-title">
                                <h3>
                                    Números Sorteados
                                </h3>
                                {% for sorteioOficial in sorteiosOficiais %}
                                    {% for dezena in sorteioOficial.dezenas %}
                                        {{ dezena }}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="box-content">
                                <div class="table-responsive" style="border:0"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8" style="padding: 0px;margin: 0px">

                        <div class="box" style="width: 96%;padding: 0px;margin: 0px">
                            <div class="box-title">
                                <h3>
                                    Jogos
                                </h3>
                                <div class="box-tool">
                                    <form action="" method="POST" class="search-form">
                                        <span class="search-pan">

                                            <input type="text" name="busca" placeholder="Buscar ..." autocomplete="off">
                                            <button type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </form>
                                </div>

                            </div>

                            <div class="box-content">
                                <div class="table-responsive" style="border:0">
                                    <table class="table table-advance" id="table0">
                                        <thead>
                                            <tr>

                                                <th style="min-width: 100px">
                                                    Nome
                                                </th>
                                                <th style="width: 1px"></th>
                                                <th style="min-width: 100px">
                                                    Jogo
                                                </th>
                                                <th style="min-width: 5px">
                                                    Pontos
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr style="color:black; background-color: #06d390">
                                                <th style="color:black; background-color: #06d390">
                                                    0 PONTOS
                                                </th>
                                                <th></th>
                                                <th style="color:black">
                                                    141 apostas
                                                </th>
                                                <th></th>
                                            </tr>


                                        {% for cartela in cartelas %}
                                            <tr class="table-flag-red">

                                                <td>
                                                    {{cartela.nomeJogador}}

                                                    <br>

                                                    (XXXXX-9547)
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">
                                                        Pago
                                                    </span>
                                                </td>

                                                <td>
                                                {% for dezena in cartela.dezenas %}
                                                    {% if dezena in dezenasSorteadas %}
                                                        <div class="circulo" style="background-color: #00FF00">
                                                            {{dezena}}
                                                        </div>
                                                    {% else %}
                                                        <div class="circulo">
                                                            {{dezena}}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                </td>
                                                <td>
                                                    <b>
                                                        0
                                                    </b>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>


                <!-- END Main Content -->

                <footer class="container bg-dark text-center">
                    <p>
                        Bolão sem fins lucrativos - Taxa de Administração apenas para cobrir as despesas operacionais
                    </p>
                    <p>
                        &copy 2021 - MegaPalmeira
                    </p>

                </footer>

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        <!-- END Content -->
        </div>

        <div id="modalDetalhes" class="modal fade">
            <div class="modal-dialog" style="width: 90%; height:90%;">
                <div class="modal-content">
                    <div class="modal-body">

                        <!--detalhes-->
                        <!-- BEGIN Container --><div class="container" id="main-containerModal"> <!-- BEGIN Content -->

                        <!-- END Content -->
                    </div>
                    <!-- END Container -->

                </div>
            </div>
        </div>
        </div>


        <!--basic scripts-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.0.3.min.js"><\/script>')</script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/jquery-cookie/jquery.cookie.js"></script>

        <!--page specific plugin scripts-->
        <script type="text/javascript" src="assets/data-tables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
        <!--flaty scripts-->
        <script src="js/flaty.js"></script>
        <script src="js/flaty-demo-codes.js"></script>

    <script>
    if (jQuery().dataTable) {
        $('#table3').dataTable({

            "aLengthMenu": [
                [10, 15, 25, 50, 100, -1],
                [10, 15, 25, 50, 100, "todos"]
            ], "aaSorting": [], "bPaginate": false,
            "iDisplayLength": 1000,
            "ordering": false,
            "oLanguage": {
                "sSearchStr": "Buscar",
                "sLengthMenu": "_MENU_ Registros",
                "sInfo": "_START_ - _END_ de _TOTAL_",
                "sInfoEmpty": "0 - 0 de 0",
                "oPaginate": {
                    "sPrevious": "Ant",
                    "sNext": "Prox"
                }
            }
        });
    }

    document.addEventListener('contextmenu', function (e) {
        e.preventDefault();
    });

    document.onkeydown = function (e) {
        //return false;
    };
</script>

</body>
</html>









