<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard - MegaPalmeira </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{asset('css/custom.css')}}">
    <link rel="stylesheet" href="{{ asset('css/flaty.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flaty-responsive.css') }}">
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>

</div>
<div id="navbar" class="navbar">
    <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
        <span class="fa fa-bars"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="{{asset('img/logoPequeno.png')}}">
    </a>

    <div align="center">
        <h2 style="color: white"></h2>
    </div>
</div>
<div class="container" id="main-container">
    <div id="main-content">
        <div class="page-title">
            <div>
                <h1><i class="fa fa-tachometer"></i> Acompanhamento de Jogos</h1>
                <h3> Grupo: 000037 - GRUPO 37</h3>
            </div>
        </div>
        <div class="row">

            <div class="alert alert-success">

                <strong>APOSTA RECEBIDA</strong> Recebemos sua aposta, mas para validar o jogo você precisa fazer o pagamento.<br>
                <br><strong>Formas de Recolhimento:</strong><br>
                Entre em contato com o administrador para que ele recolha <br>ou<br>
                Transferência bancária: PIX: <strong>10040b13-612e-4f14-9634-01a891ae4377<strong><br>
                <br>

                Após a transferência, envie o comprovante para o administrador ou para o grupo do bolão no whatsapp junto com
                o TOKEN de sua aposta: <strong><h3 style="font-size: 50px;">TOKEN: {{ tokenCartela }}</h3></strong>
            </div>
            <br>
            <div align=center>
                <a class="show-tooltip" title="Nova Aposta" href="/formulario-adicionar-cartela/{{concursoId}}"><br>
                    <button class="btn btn-success2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Fazer Novo Jogo!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>

                <a class="show-tooltip" title="Acompanhamento" href="/concursos/{{ concursoId }}"><button class="btn btn-warning"><i class="fa fa-globe"></i> Página de Acompanhamento</button></a>
            </div>
        </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.0.3.min.js"><\/script>')</script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('assets/jquery-cookie/jquery.cookie.js') }}"></script>
<script src="{{ asset('assets/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('assets/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('assets/flot/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('assets/flot/jquery.flot.stack.js') }}"></script>
<script src="{{ asset('assets/flot/jquery.flot.crosshair.js') }}"></script>
<script src="{{ asset('assets/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('assets/sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('js/flaty.js') }}"></script>
<script src="{{ asset('js/flaty-demo-codes.js') }}"></script>
</body>
</html>